---
import Layout from "../layouts/Layout.astro";
import Navigation from "../components/Navigation.astro";
import CTAComponent from "../components/CTA.astro";
import Footer from "../components/Footer.astro";
---

<Layout
    title="Purifreze - Contacto | Empieza a Ahorrar Hoy"
    description="Contáctanos para instalar tu sistema Purifreze. Instalación gratis y sin plazos forzosos."
>
    <Navigation />
    <main class="pt-32 md:pt-40">
        <h1 class="sr-only">Contrata Purifreze</h1>
        <CTAComponent />
    </main>
    <Footer />
</Layout>
