---
import Layout from "../layouts/Layout.astro";
import Navigation from "../components/Navigation.astro";
import HeroComponent from "../components/Hero.astro";
import Footer from "../components/Footer.astro";
---

<Layout
    title="Purifreze - Inicio | Sistema de Purificación de Agua"
    description="Agua purificada ilimitada en tu hogar. Renta tu purificador en Mérida con instalación GRATIS."
>
    <Navigation />
    <main class="pt-0">
        <h1 class="sr-only">Purifreze - Inicio</h1>
        <HeroComponent />
    </main>
    <Footer />
</Layout>
