---
import Layout from "../layouts/Layout.astro";
import Comparison from "../components/Comparison.astro";
---

<Layout
    title="Purifreze - Comparación de Purificador de Agua vs Garrafones"
    description="Compara Purifreze con los garrafones tradicionales y descubre ahorro, calidad y conveniencia."
>
    <main class="pt-0">
        <h1 class="sr-only">
            Purifreze - Comparación de Purificador de Agua vs Garrafones
        </h1>
        <Comparison />
    </main>
</Layout>
